<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title></title>
</head>
<body>
  <form action="/answer" method="post">
    <input id="word" type="text" name="word">
    <h1><label for="word">Enter a word to get scrabble score</label><h1>
    <button type="submit" name="button">Submit</button>
  </form>

</body>
</html>
